# Created by https://www.gitignore.io/api/go,vim,linux,macos,emacs,pycharm,windows,sublimetext
# Edit at https://www.gitignore.io/?templates=go,vim,linux,macos,emacs,pycharm,windows,sublimetext

### Emacs ###
# -*- mode: gitignore; -*-
config/config.ini
config/pgoops.ini
poetry.lock
.git
.idea
__pycache__
.venv
upload/iac/*/artifacts/*
logs/*/*.log
logs/*.log